body {
    font-family: 'Noto Serif', serif;

}

#main {
    background-image: url("pictures/mainbkg.png");
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 15%;
    font-family: 'Big Shoulders Display', cursive;
}
.container {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
   
}
.about {
    font-family: 'Big Shoulders Display', cursive;
    border-bottom: 1px solid #000;
}

.aboutme {
    margin-top: 5%;
    margin-left: 15%;
    text-align: center;

}
.me {
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 15%;
    float: left;
}

#work {
    text-align: center;
    margin-top: 10%;
    background-color: #E3E4E7;
     padding: 25px 50px 75px 100px;
}

.projects {
    font-family: 'Big Shoulders Display', cursive;
    border-bottom: 1px solid #000;
}

.pro {

    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
 }

 .city {
    margin-top: 20px;
    height: 150px;
    margin-left: 5%;
    border-radius: 15%;
    float: left;
 }

 #contacts {
     margin-top: 10%;
 }

 .contact {
    font-family: 'Big Shoulders Display', cursive;
    border-bottom: 1px solid #000;
 }

 .form {
     margin: 5%;
 }
.icon {
    background-color: #38A793;
    padding: 5%;
}
 i {
     color: white;
 }
footer {
    text-align: center;
}
