body {
    font-family: 'Noto Serif', serif;
    height: 100%;

}

#main {
    /* background-image: url("pictures/mainbkg.png"); */
    background-color:  #4D5159;
    color: white;
    text-align: center;
    /* height: 100%; */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    padding: 20%;
    font-size: 5vw;
    font-family: 'Big Shoulders Display', cursive;
}
.highlight {
    color: #38A793 ;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
   
}
.about {
    font-family: 'Big Shoulders Display', cursive;
    border-bottom: 1px solid #000;
}

.aboutme {
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;

}
.me {
    margin-top: 15%;
    margin-left: 5%;
    border-radius: 15%;
    
}

#work {
    text-align: center;
    margin-top: 5%;
    background-color: #E3E4E7;
     padding: 25px 50px 75px 100px;
}

.projects {
    font-family: 'Big Shoulders Display', cursive;
    border-bottom: 1px solid #000;
}

.pro {

    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
 }

 .city {
    margin-top: 20px;
    height: 150px;
    margin-left: 5%;
    border-radius: 15%;
    float: left;
 }

 .planner{
    margin-top: 20px;
    height: 150px;
    margin-right: 20%;
    border-radius: 15%;
    float: right;
 }

 .plan {
    margin-top: 10%;
    margin-right: 10%;
    text-align: center;

 }

 #contacts {
     margin-top: 5%;
 }

 .contact {
    font-family: 'Big Shoulders Display', cursive;
    border-bottom: 1px solid #000;
 }

 .form {
     margin: 5%;
 }
.icon {
    background-color: #38A793;
    padding: 5%;
}
 i {
     color: white;
 }
footer {
    text-align: center;
}
